.addmovie	{
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button
{
	border: 1px solid #1A73E8;
	border-radius: 3px;
	padding: 7px;
	font-family: "Open Sans";
	font-weight: bold;
	color: white;
	background-color: #1A73E8;
	transition-duration: 0.3s;
}

button:hover {
	cursor: pointer;
	box-shadow: 0px 5px 15px -12px #000000;
	background-color: #1B66CA;
}

.g-input {
  position: relative;
  margin-bottom: 10px;
}

.g-input label {
  background: white;
  padding: 3px;
  font-size: 12px;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom left;
  color: #ddd;
  font-family: arial;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
  cursor: text;
}

.g-input input, .g-input textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.g-input.fill {
  display: block;
  width: 100%;
}

.g-input input:focus, .g-input textarea:focus {
  outline: 0;
  border-color: #1873e8;
}

.g-input input:focus+label, .g-input input:not(:placeholder-shown)+label,
.g-input textarea:focus+label, .g-input textarea:not(:placeholder-shown)+label{
  transform: translateX(-3px) translateY(-15px);
  font-size: 10px;
  color: #1a73e8;
}