.table_vote
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table   {
    border-collapse: collapse;
    border: 1px solid rgb(99, 99, 99);
}

tr,td {
    border: 1px solid rgb(99, 99, 99);
    padding: 10px;
}