/* mise en forme du formulaire de connexion avec balise form et input */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

p, a
{
    display: block;
    text-align: center;
}