*   {
    font-family: Montserrat, sans-serif;
}

body    {
    padding: 0 2em;
}

header .float {
    float: right;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    background-color: #111;
}

/* Change le style de la classe error un mettant un background rouge claire et des bordures rouges foncées */
.erreur {
    background-color: #ffd4d4;
    border: 1px solid #ff8080;
    width: 60%;
    padding: 7px;
    margin: auto;
}

/* Change le style de la classe success en mettant un background vert claire et des bordures vert foncées */
.success {
    background-color: #d4ffd4;
    border: 1px solid #80ff80;
    width: 60%;
    padding: 7px;
    margin: auto;
}