table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.add {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  width: 5%;
  border-radius: 100px;
  padding: 10px;
}

th a {
  text-decoration: none;
  vertical-align: middle;
}

td a {
  text-decoration: none;
  vertical-align: middle;
  float: right;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}